/* .hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin: 6px 0;
} */
body{
  background-color: #2854fd;
  
}
header{
  border: 2px solid #3866ff;
}
.box{
  border: 2px solid #3866ff;
  border-bottom: 0px;
  border-right: 0px;

  
}
.head-box{
  width: 75%;

  
}
 .sec{
    display: flex;
border: 2px solid #3866ff;
border-top: 0px;
border-color: #3866ff

;

 }
 .parent-box{

 
  /* width: 100%; */
 }
 .container1{
  display: flex;
width: 100%;
 }
  .container2{
  display: flex;
width: 100%;
 }
 footer{
  display: flex;
  flex-direction: row;
  gap: 75%;
 }
 footer p{
  margin: 30px ;
 }