/* .hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin: 6px 0;
} */
body{
  background-color: #2854fd;
  overflow: auto;
  font-family: "hebbo", sans-serif;
  color: aliceblue;
}
header{
  border: 2px solid #3866ff;
}
.box{
  border: 2px solid #3866ff;
  border-bottom: 0px;
  border-right: 0px;
  width: 50%;

  
}
.headfirst-box{
  width: 50%;
  margin: 5%;
  

  
}
.headfirst-box h1{
  font-size: 60px;
  width: 60%;
}
 .sec{
    display: flex;
border: 2px solid #3866ff;
border-top: 0px;
border-color: #3866ff;
 }
 .headfirst-box p{
  font-size: 20px;
  width: 65%;
 }
 .parent-box{

 width: 50%;;
  /* width: 100%; */
 }
 .parent-box h4{
  font-size: 30px;
 }
 .container1{
  display: flex;
  flex-direction: row;
  
/* width: 100%; */
 }
  .container2{
  display: flex;
/* width: 100%; */
 }
 footer{
  display: flex;
  flex-direction: row;
  gap: 65%;
 }
 footer p{
  margin: 30px ;
 }
 .head-box{
  display: flex;
  flex-direction: row;
  gap: 65%;
  margin: 3%;
 }
 .head-box h2{
  font-size: 30px;
 }
 .head-box h4{
  font-size: 20px;
 }
 .box h2{
  width: fit-content;
  font-size: 30px;
 }
 .box p{
  font-size: 15px;
 }
